{% extends 'base.html.twig' %}

{% block body %}
    <script>
        function followRequest(mode) {
            mode = parseInt(mode);
            var prefix1 = '', prefix2 = '', caption = '';
            if(mode === 1) { // follow
                prefix1 = '';
                prefix2 = 'un-';
                caption = 'UnFollow';
            } else { // unfollow
                prefix1 = 'un-';
                prefix2 = '';
                caption = 'UnFollow';
            }
            $.ajax({
                url: '{{ path("people_follow") }}',
                type: 'post',
                dataType: 'json',
                data: {
                    friend_id: id,
                    mode: mode
                },
                success:function(response) {
                    self.html(caption);
                    self.removeClass(prefix1 + 'follow-btn');
                    self.addClass(prefix2 + 'follow-btn');
                },
                error: function (response) {
                }
            });
        }
        $(document).on('click', '.un-follow-btn', function(e) {
            var self = $(this);
            followRequest(0, self.data('id'));
        });
        $(document).on('click', '.follow-btn', function(e) {
            var self = $(this);
            followRequest(1, self.data('id'));
        });
    </script>
    <style>
        .people-list {
            list-style: none;
            margin: 30px 0 0 0;
            padding: 0;
        }
        .people-list li {
            border-bottom: 1px solid #c4c4c4;
            margin-bottom: 20px;
            display: block;
        }
        .people-list li h5 {
            font-weight: bold;
            margin-bottom: 3px;
        }
        .people-list li span {
            display: inline-block;
            margin-bottom: 10px;
        }
    </style>
    <div>
        <h3>People</h3>
        <div>
            search form placeholder
        </div>
        <ul class="people-list">
            {% for item in items %}
                <li>
                    <h5>{{ item.username }}</h5>
                    <span>{{ item.email }}</span>
                    <br/>
                    {% if(user.isFriend(item)) %}
                        <a data-id="{{ item.id }}" class="un-follow-btn" href="javascript:void(0);">UnFollow</a>
                    {% else %}
                        <a data-id="{{ item.id }}" class="follow-btn" href="javascript:void(0);">Follow</a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}