{% extends 'base.html.twig' %}
{% block body %}
    <h1>Post creation</h1>
    {{ form_start(form) }}
        {#{{ form_widget(form) }}#}
        <div>
            {{ form_label(form.title) }}
            {{ form_widget(form.title) }}
            <p class="help-block">{{ form_errors(form.title) }}</p>
        </div>
        <div>
            {{ form_label(form.slug) }}
            {{ form_widget(form.slug) }}
            <p class="help-block">{{ form_errors(form.slug) }}</p>
        </div>
        <div>
            {{ form_label(form.short) }}
            {{ form_widget(form.short) }}
            <p class="help-block">{{ form_errors(form.short) }}</p>
        </div>
        <div>
            {{ form_label(form.body) }}
            {{ form_widget(form.body) }}
            <p class="help-block">{{ form_errors(form.body) }}</p>
        </div>
        {{ form_widget(form._token) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}
    <ul>
        <li>
            <a href="{{ path('post_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
